quests/05_gathering_HTTPRequest.json
{
  "name": "05_gathering_HTTPRequest",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.finance.naver.com/siseJson.naver",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "requestType",
              "value": "1"
            },
            {
              "name": "startTime",
              "value": "={{ $json.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{ $json.endTime }}"
            },
            {
              "name": "timeframe",
              "value": "day"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -64
      ],
      "id": "efbc6850-17e9-401a-a839-b464ff0af8c2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "formTitle": "주식 종목 정보 입력",
        "formDescription": "주식 종목 정보 입력하여 관련 기간 동안 데이터로 분석",
        "formFields": {
          "values": [
            {
              "fieldLabel": "symbol"
            },
            {
              "fieldLabel": "startTime"
            },
            {
              "fieldLabel": "endTime"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -192,
        -64
      ],
      "id": "ed0f85c7-5ece-4fce-abb3-971a658b306b",
      "name": "On form submission",
      "webhookId": "0f937959-ccc3-468a-82fa-65f3f8e42dba"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=이번 분석에서는 최근 3개월 종가 데이터를 기반으로 다음 사항들을 종합적으로 평가해 주세요.\n가격 추이와 주요 변동\n거래량과 외국인 소진율의 흐름\n투자 전략 관점의 해석\n점수를 0~100으로 산출하고, 그 근거를 이유에 상세히 적어주세요.\n예시는 아래와 같아:\\n\\n{\\\"score\\\": (0~100), \\\"reason\\\": (상세 분석 근거)}\\n\\n\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        -64
      ],
      "id": "0c6dc2d0-c282-40ef-8bfb-4c2465d22b30",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ukY3sZ3mo35hTIUi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=이번 분석에서는 최근 3개월 종가 데이터를 기반으로 다음 사항들을 종합적으로 평가해 주세요.\n가격 추이와 주요 변동\n거래량과 외국인 소진율의 흐름\n투자 전략 관점의 해석\n점수를 0~100으로 산출하고, 그 근거를 이유에 상세히 적어주세요.\n예시는 아래와 같아:\\n\\n{\\\"score\\\": (0~100), \\\"reason\\\": (상세 분석 근거)}\\n\\n\n{{ $json.data }}\n\n\n\n\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        160
      ],
      "id": "7a3b0449-fc44-45a3-9cb1-c8342eb16f14",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ukY3sZ3mo35hTIUi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3af6ad87-13d9-4acf-9609-d4dc2f43a3d2",
              "name": "title",
              "value": "시계열 모델 분석",
              "type": "string"
            },
            {
              "id": "80782661-b8a7-4fd9-b743-f8020decf4e3",
              "name": "=score",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).score }}\n",
              "type": "string"
            },
            {
              "id": "6b64423a-885c-4451-8d79-08c07bf7ae86",
              "name": "=reason",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).reason }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        160
      ],
      "id": "fa1446d5-fbea-4e5c-a486-2a35e146d09f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40ef3ec-5468-429e-823e-9634e87b78a5",
              "name": "title",
              "value": "종가 데이터 분석",
              "type": "string"
            },
            {
              "id": "70a213a6-72de-4e6d-8bee-949eed2417ba",
              "name": "=score",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).score }}\n",
              "type": "string"
            },
            {
              "id": "8d14738e-5ace-4127-bcbc-3add9a0b66a6",
              "name": "=reason",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).reason }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -64
      ],
      "id": "7bd507dd-c917-4356-a5f6-4c03a13adc40",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "score"
            },
            {
              "fieldToAggregate": "reason"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1056,
        224
      ],
      "id": "2869af9e-8157-4914-93f0-5fc882552ef5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=아래는 주가 분석 프로젝트의 핵심 데이터이다.\n이 데이터는 ‘종가 데이터 분석’, ‘시계열 모델 분석’,'장기 추세 유지 및 외국인 지지력 분석','단기 모멘텀 및 과열 위험 분석' 네 가지 범주로 구성되어 있다.\n각 항목의 세부 분석 내용(reason)과 모델 신뢰도(score)를 기반으로, 다음 조건에 맞는 **최종 분석 결과 요약 보고서**를 작성하라.\n요구사항:\n1. 각 분석 범주의 핵심 포인트를 종합하고, 서로의 관계를 설명하라.\n2. 모델 성능 점수(score)에 따른 신뢰도 해석을 포함하라.\n3. 예측 결과에 대한 종합 의견을 제시하고, 중장기 투자 시사점을 정리하라.\n4. 데이터의 한계, 예측 오차 범위, 외부 요인에 대한 언급을 포함하라.\n5. 리포트 마지막에는 “예측의 신뢰도 종합평가” 섹션을 추가하라.\n입력 데이터:\ntitle : {{ $json.title }}\nscore : {{ $json.score }}\nreason : {{ $json.reason }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        224
      ],
      "id": "914405ec-a6aa-454e-9971-f6f2db4a7176",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ukY3sZ3mo35hTIUi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=이번 분석에서는 최근 3개월(2025년 7월 21일 ~ 10월 20일) 데이터를 기반으로 다음 사항들을 종합적으로 평가해 주세요.\n\n1.  **단기 주가 상승 모멘텀의 강도:** 최고가 갱신 패턴과 9만 원대 안착 여부.\n2.  **과열 및 조정 위험:** 급등기에 발생한 대량 거래(4천만 주 이상) 이후의 가격 안정성 및 변동성.\n3.  **외국인 매수세의 지속성:** 주가 고점 구간(9월 이후)에서의 외국인 소진율 증감 추이.\n\n점수를 0~100으로 산출하고, 그 근거를 이유에 상세히 적어주세요. 점수는 단기적인 추가 상승 잠재력(Momentum)을 기준으로 산출합니다.\n\n{\"score\": (0~100), \"reason\": (상세 분석 근거)}\n\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        384
      ],
      "id": "15c2f2a6-13cb-41b1-aba1-9bee24d05f7e",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "ukY3sZ3mo35hTIUi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3af6ad87-13d9-4acf-9609-d4dc2f43a3d2",
              "name": "title",
              "value": "단기 모멘텀 및 과열 위험 분석",
              "type": "string"
            },
            {
              "id": "80782661-b8a7-4fd9-b743-f8020decf4e3",
              "name": "=score",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).score }}\n",
              "type": "string"
            },
            {
              "id": "6b64423a-885c-4451-8d79-08c07bf7ae86",
              "name": "=reason",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).reason }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        384
      ],
      "id": "19a1c0d9-5cef-4817-8e57-228e183fdd4e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=이번 분석에서는 전체 데이터 기간(2025년 1월 2일 ~ 10월 20일)을 기반으로 다음 사항들을 종합적으로 평가해 주세요.\n\n1.  **장기 상승 추세의 건전성:** 초기 종가(53,400원) 대비 최종 종가(97,800원)의 상승률($83\\%$)을 뒷받침하는 추세 유지력.\n2.  **주요 지지선 형성:** 5만원대, 6만원대, 7만원대 돌파 후 각 가격대에서의 조정 및 지지선 형성 과정.\n3.  **외국인 소진율 변화의 의미:** 전체 기간($50.45\\% \\rightarrow 52.15\\%$)에 걸쳐 외국인 소진율이 꾸준히 증가한 것이 중장기 주가에 미치는 영향.\n\n점수를 0~100으로 산출하고, 그 근거를 이유에 상세히 적어주세요. 점수는 중장기적인 추세 지속 가능성(Sustainability)을 기준으로 산출합니다.\n\n{\"score\": (0~100), \"reason\": (상세 분석 근거)}\n\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        608
      ],
      "id": "1a7e97ad-e141-445a-b5a3-308498b176ae",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "ukY3sZ3mo35hTIUi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3af6ad87-13d9-4acf-9609-d4dc2f43a3d2",
              "name": "title",
              "value": "장기 추세 유지 및 외국인 지지력 분석",
              "type": "string"
            },
            {
              "id": "80782661-b8a7-4fd9-b743-f8020decf4e3",
              "name": "=score",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).score }}\n",
              "type": "string"
            },
            {
              "id": "6b64423a-885c-4451-8d79-08c07bf7ae86",
              "name": "=reason",
              "value": "={{ JSON.parse($json[\"content\"][\"parts\"][0][\"text\"].match(/{.*?}/s)[0]).reason }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        608
      ],
      "id": "b7a84ba3-aea3-4eab-aa8e-79c2e73c0e02",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        192
      ],
      "id": "e9ab92c8-1e01-42d7-a095-8e4c8fc6f3ea",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "title": "시계열 모델 분석",
          "score": "90\n",
          "reason": "최근 3개월간의 종가, 거래량, 외국인소진율 데이터를 분석한 결과, 전반적으로 매우 강력한 상승 추세와 긍정적인 투자 심리가 확인됩니다. 특히 7월 말부터 10월 20일까지의 데이터를 기준으로 평가했습니다.\n\n**1. 가격 추이와 주요 변동:**\n*   **강력한 상승 추세:** 7월 말 (20250721) 종가 67,800원에서 10월 20일 종가 98,100원까지 약 44.7%에 달하는 폭발적인 상승을 기록했습니다. 이는 매우 긍정적인 가격 흐름을 나타냅니다.\n*   **단계적 상승 후 급등:** 7월 말~8월 초에 걸쳐 72,000원대까지 상승한 후, 8월 한 달간은 68,000원~72,000원 사이에서 비교적 완만한 횡보 또는 약보합세를 보였습니다. 하지만 9월 초 67,600원(20250901)을 저점으로 다시 강한 상승세를 시작하여 9월 말에는 86,100원(20250925)까지 상승했습니다. 이후 10월 들어서는 83,900원(20250930)에서 98,100원(20251020)으로 급격한 신고가 경신이 이어지는 등 매우 가파른 상승 모멘텀을 보여주었습니다.\n*   **견조한 조정:** 상승 중간중간 작은 폭의 조정을 보이기도 했지만, 이는 단기 차익 실현에 따른 자연스러운 현상으로 보이며, 지지선이 깨지지 않고 곧바로 재반등하여 상승 추세를 이어가는 견고함을 보여주었습니다.\n\n**2. 거래량과 외국인 소진율의 흐름:**\n*   **거래량 증가:** 주요 가격 상승 구간에서 거래량이 큰 폭으로 증가하는 패턴이 뚜렷하게 관찰됩니다. 특히 7월 말(20250728, 20250730), 9월 중순(20250912, 20250916, 20250922), 그리고 10월 초/중순(20251002, 20251010, 20251014, 20251016)에는 과거 평균 대비 월등히 높은 거래량을 동반한 상승이 나타나, 강한 매수세가 유입되고 있음을 시사합니다. 이는 가격 상승에 대한 신뢰도를 높이는 매우 긍정적인 신호입니다. 조정 국면에서는 거래량이 감소하는 경향을 보여, 매도 압력이 강하지 않음을 나타냅니다.\n*   **지속적인 외국인 매수:** 7월 21일 50.24%에서 시작하여 10월 20일 52.15%까지 외국인소진율이 꾸준히, 그리고 유의미하게 상승했습니다. 이는 외국인 투자자들이 해당 종목의 장기적인 가치나 성장성에 대해 긍정적으로 평가하고 지속적으로 매집하고 있음을 나타내며, 강력한 매수 주체로서의 역할을 하고 있음을 보여줍니다. 이러한 꾸준한 외국인 매수세는 주가 상승의 중요한 동력으로 작용하고 있습니다.\n\n**3. 투자 전략 관점의 해석:**\n*   **매우 강한 상승 모멘텀 확인:** 가격 추이, 거래량, 외국인소진율 모두 긍정적인 방향을 가리키고 있어, 현재 매우 강한 상승 모멘텀이 형성되어 있다고 판단됩니다. 이는 투자 매력도가 매우 높음을 의미합니다.\n*   **견고한 수급 기반:** 외국인 투자자들의 꾸준하고 지속적인 매수세는 주가 하방 경직성을 제공하며, 대량 거래를 동반한 상승은 시장의 관심과 유동성이 집중되고 있음을 의미합니다.\n*   **단기 과열 가능성 주시:** 10월 들어 가파른 상승세를 보인 만큼, 단기적으로는 기술적 조정이나 차익 실현 매물이 나올 가능성도 배제할 수 없습니다. 하지만 현재까지는 조정 시에도 견조한 매수세가 유입되며 지지되는 모습을 보였습니다.\n*   **긍정적 투자 전략:** 현재 데이터만으로 판단했을 때, 해당 종목은 높은 투자 매력도를 가지고 있으며, 상승 추세가 당분간 지속될 가능성이 높습니다. 신규 진입을 고려하는 투자자는 단기 조정 시점을 활용하거나 분할 매수 전략을 통해 접근하는 것이 유리할 수 있습니다. 기존 보유자는 추세가 꺾이기 전까지는 지속 보유하는 전략이 합리적입니다.\n\n**결론:** 최근 3개월간 이 종목은 가격, 거래량, 외국인 수급 측면에서 모두 매우 이상적인 강세 흐름을 보였습니다. 특히 외국인 소진율의 꾸준하고 지속적인 증가는 단순히 단기적인 호재가 아닌, 장기적인 관점에서의 긍정적 전망을 뒷받침하는 강력한 증거입니다. 단기 과열에 대한 경계는 필요하지만, 현재까지는 매우 견고한 상승 흐름을 이어가고 있어 매우 긍정적으로 평가됩니다.\n"
        }
      }
    ],
    "Edit Fields1": [
      {
        "json": {
          "title": "종가 데이터 분석",
          "score": "80\n",
          "reason": "## 최근 3개월 종합 주가 데이터 분석 (2025년 7월 21일 ~ 2025년 10월 20일)\n\n### 1. 가격 추이와 주요 변동\n\n*   **전반적인 추세:** 지난 3개월 동안 이 종목은 뚜렷하고 강력한 우상향 추세를 보였습니다. 2025년 7월 21일 종가 67,800원에서 시작하여 2025년 10월 20일 98,100원으로 마감하며 약 44.69%의 높은 상승률을 기록했습니다.\n*   **상세 변동:**\n    *   **7월 말 급등 및 8월 횡보/조정:** 7월 말 (2025/07/28~30) 67,200원에서 72,600원까지 단기간에 급등하는 모습을 보였습니다. 이후 8월 한 달 동안은 68,000원~72,000원 사이에서 비교적 안정적인 횡보 또는 소폭의 조정을 거쳤습니다.\n    *   **9월 초 재조정:** 8월 말 71,500원대에서 9월 초 67,600원(2025/09/01)까지 단기적인 가격 하락이 있었습니다.\n    *   **9월~10월 초의 강력한 상승 랠리:** 9월 초 저점 이후, 9월 중순부터 매우 가파른 상승 랠리가 시작되었습니다. 9월 1일 67,600원에서 10월 2일 89,000원까지 지속적인 상승세를 보였으며, 특히 10월 2일에는 하루 만에 크게 급등했습니다. 이 기간 동안 이전 고점을 꾸준히 돌파하며 상승 탄력을 확보했습니다.\n    *   **10월 중순 고점 경신:** 10월 초의 급등 이후에도 상승세는 이어져, 10월 17일 장중 최고가 99,100원을 기록하며 거의 10만 원에 육박하는 수준까지 도달했습니다. 분석 기간 마지막 날인 10월 20일에도 98,100원으로 높은 수준을 유지하며 강력한 상승 추세가 현재 진행형임을 보여줍니다.\n\n### 2. 거래량과 외국인 소진율의 흐름\n\n*   **거래량 흐름:**\n    *   7월 말 첫 번째 급등 시점(7/28, 7/30)에 3천만 주대 중반의 높은 거래량이 동반되며 가격 상승에 대한 신뢰를 높였습니다.\n    *   8월의 횡보 및 조정 구간에서는 1천만 주대 초중반으로 거래량이 감소하며, 매도 압력이 크지 않았음을 시사했습니다.\n    *   9월 초 가격 하락 시점에도 거래량은 1천만 주대 초반으로 낮은 수준을 유지하여, 이 하락이 강력한 매도세보다는 일시적인 조정 성격이 강했음을 보여줍니다.\n    *   9월 중순부터 시작된 본격적인 상승 랠리에서는 거래량이 꾸준히 증가하여 2천만 주대 중반을 유지했습니다 (예: 9/12, 9/16, 9/22).\n    *   특히 10월 2일의 가격 급등은 약 4,988만 주에 달하는 압도적인 거래량을 동반하며 매우 강한 매수 에너지를 확인시켜 주었습니다.\n    *   이후 10월 중순에도 2천만~3천만 주대 후반의 높은 거래량을 유지하며 상승 추세를 지지했습니다. 다만, 분석 기간 마지막 날인 10월 20일에는 1,755만 주로 다소 감소한 모습을 보였습니다.\n\n*   **외국인 소진율 흐름:**\n    *   분석 기간 시작 시점 (7/21) 외국인 소진율은 50.24%였습니다.\n    *   7월 말 급등 시점에 50.65%까지 상승하며 외국인의 매수 참여가 확인되었습니다.\n    *   8월의 횡보/조정 기간에는 50.5%~50.6% 수준에서 안정적으로 유지되거나 소폭 하락했습니다.\n    *   그러나 9월 초의 단기 조정 이후, 9월 초 50.32%에서 시작된 상승장에서는 외국인 소진율이 지속적이고 가파르게 증가하는 모습을 보였습니다. 9월 18일 51.12%, 10월 2일 51.85%를 기록했으며, 분석 기간 마지막 날인 10월 20일에는 52.15%까지 상승했습니다. 이는 외국인 투자자들이 꾸준히 해당 종목을 순매수하여 지분율을 확대하고 있음을 명확히 보여줍니다.\n\n### 3. 투자 전략 관점의 해석\n\n*   **긍정적 모멘텀 유지:** 지난 3개월간 40% 이상의 강력한 가격 상승과 함께 건강한 거래량 흐름(상승 시 거래량 증가, 조정 시 거래량 감소) 및 지속적인 외국인 순매수(외국인 소진율 증가)가 나타나, 매우 긍정적인 투자 모멘텀을 형성하고 있습니다.\n*   **외국인 매수세의 중요성:** 외국인 소진율의 꾸준한 증가는 이 종목에 대한 외국인 투자자들의 중장기적인 긍정적 시각을 반영하는 것으로 해석할 수 있습니다. 이는 향후 주가 상승에 대한 견고한 지지력을 제공할 가능성이 높습니다.\n*   **단기 과열 우려:** 9월 초 이후 주가가 가파르게 상승한 만큼, 단기적인 기술적 과열 신호가 나타날 수 있습니다. 특히 10월 20일 거래량이 이전 급등 시점 대비 감소한 점은 단기적인 숨 고르기 또는 소폭 조정이 발생할 가능성도 있습니다.\n*   **지지선 형성:** 강력한 상승 추세 속에서 70,000원대 중반, 80,000원대 중반, 그리고 90,000원 초반에 걸쳐 새로운 지지선이 형성되었을 가능성이 높습니다. 이러한 지지선은 향후 주가 하락 시 방어 역할을 할 수 있습니다.\n\n**투자 전략 제안:**\n현재까지의 데이터만 놓고 보면 매우 강한 상승 추세에 있으며, 핵심 지표들이 이를 뒷받침하고 있어 긍정적인 관점을 유지하는 것이 합리적입니다.\n*   **보유 전략 유지:** 현재 주식을 보유하고 있다면, 강력한 추세가 꺾이기 전까지는 지속적으로 보유하는 전략을 고려할 수 있습니다.\n*   **조정 시 매수 기회 활용:** 단기적인 가격 조정이 발생할 경우, 이는 추가 매수 또는 신규 매수 기회가 될 수 있습니다. 특히 90,000원 초반 또는 8만 원대 후반 등 주요 지지선 근처에서 외국인 매수세가 재차 유입되는지 확인하며 분할 매수를 고려해 볼 수 있습니다.\n*   **리스크 관리:** 고점 부근에서 거래량 감소와 함께 음봉이 지속되거나, 외국인 소진율이 뚜렷하게 감소세로 전환된다면 추세 전환의 징후일 수 있으므로, 손절매 기준을 설정하여 리스크를 관리하는 것이 중요합니다.\n\n### 점수 산출 근거 (80점)\n\n*   **가격 추이 (매우 긍정적):** 3개월간 약 44.69%의 강력한 우상향 추세와 지속적인 고점 경신은 높은 점수를 부여할 근거가 됩니다. (40점)\n*   **거래량 (긍정적):** 가격 상승 시 거래량이 동반 상승하고 조정 시 거래량이 감소하는 건강한 패턴을 보여, 추세의 신뢰도를 높입니다. (20점)\n*   **외국인 소진율 (매우 긍정적):** 외국인 소진율이 지속적으로 뚜렷하게 상승하며 강력한 매수 주체가 존재함을 명확히 보여줍니다. 이는 중장기적인 주가 지지 및 상승 동력으로 작용할 수 있습니다. (25점)\n*   **단기 과열 및 변동성 (주의 필요):** 최근 가파른 상승으로 인한 단기적 과열 및 조정 가능성, 그리고 일부 거래량 감소가 관찰되어 잠재적 리스크로 작용합니다. (감점 5점)\n\n**종합:** 강력한 상승 추세, 신뢰성 있는 거래량, 그리고 무엇보다 외국인의 꾸준한 순매수세가 돋보여 전반적으로 매우 긍정적인 평가를 내릴 수 있습니다. 다만, 단기 급등에 따른 조정 가능성은 염두에 두어야 합니다.\n"
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "title": [
            "종가 데이터 분석",
            "시계열 모델 분석"
          ],
          "score": [
            "80\n",
            "90\n"
          ],
          "reason": [
            "## 최근 3개월 종합 주가 데이터 분석 (2025년 7월 21일 ~ 2025년 10월 20일)\n\n### 1. 가격 추이와 주요 변동\n\n*   **전반적인 추세:** 지난 3개월 동안 이 종목은 뚜렷하고 강력한 우상향 추세를 보였습니다. 2025년 7월 21일 종가 67,800원에서 시작하여 2025년 10월 20일 98,100원으로 마감하며 약 44.69%의 높은 상승률을 기록했습니다.\n*   **상세 변동:**\n    *   **7월 말 급등 및 8월 횡보/조정:** 7월 말 (2025/07/28~30) 67,200원에서 72,600원까지 단기간에 급등하는 모습을 보였습니다. 이후 8월 한 달 동안은 68,000원~72,000원 사이에서 비교적 안정적인 횡보 또는 소폭의 조정을 거쳤습니다.\n    *   **9월 초 재조정:** 8월 말 71,500원대에서 9월 초 67,600원(2025/09/01)까지 단기적인 가격 하락이 있었습니다.\n    *   **9월~10월 초의 강력한 상승 랠리:** 9월 초 저점 이후, 9월 중순부터 매우 가파른 상승 랠리가 시작되었습니다. 9월 1일 67,600원에서 10월 2일 89,000원까지 지속적인 상승세를 보였으며, 특히 10월 2일에는 하루 만에 크게 급등했습니다. 이 기간 동안 이전 고점을 꾸준히 돌파하며 상승 탄력을 확보했습니다.\n    *   **10월 중순 고점 경신:** 10월 초의 급등 이후에도 상승세는 이어져, 10월 17일 장중 최고가 99,100원을 기록하며 거의 10만 원에 육박하는 수준까지 도달했습니다. 분석 기간 마지막 날인 10월 20일에도 98,100원으로 높은 수준을 유지하며 강력한 상승 추세가 현재 진행형임을 보여줍니다.\n\n### 2. 거래량과 외국인 소진율의 흐름\n\n*   **거래량 흐름:**\n    *   7월 말 첫 번째 급등 시점(7/28, 7/30)에 3천만 주대 중반의 높은 거래량이 동반되며 가격 상승에 대한 신뢰를 높였습니다.\n    *   8월의 횡보 및 조정 구간에서는 1천만 주대 초중반으로 거래량이 감소하며, 매도 압력이 크지 않았음을 시사했습니다.\n    *   9월 초 가격 하락 시점에도 거래량은 1천만 주대 초반으로 낮은 수준을 유지하여, 이 하락이 강력한 매도세보다는 일시적인 조정 성격이 강했음을 보여줍니다.\n    *   9월 중순부터 시작된 본격적인 상승 랠리에서는 거래량이 꾸준히 증가하여 2천만 주대 중반을 유지했습니다 (예: 9/12, 9/16, 9/22).\n    *   특히 10월 2일의 가격 급등은 약 4,988만 주에 달하는 압도적인 거래량을 동반하며 매우 강한 매수 에너지를 확인시켜 주었습니다.\n    *   이후 10월 중순에도 2천만~3천만 주대 후반의 높은 거래량을 유지하며 상승 추세를 지지했습니다. 다만, 분석 기간 마지막 날인 10월 20일에는 1,755만 주로 다소 감소한 모습을 보였습니다.\n\n*   **외국인 소진율 흐름:**\n    *   분석 기간 시작 시점 (7/21) 외국인 소진율은 50.24%였습니다.\n    *   7월 말 급등 시점에 50.65%까지 상승하며 외국인의 매수 참여가 확인되었습니다.\n    *   8월의 횡보/조정 기간에는 50.5%~50.6% 수준에서 안정적으로 유지되거나 소폭 하락했습니다.\n    *   그러나 9월 초의 단기 조정 이후, 9월 초 50.32%에서 시작된 상승장에서는 외국인 소진율이 지속적이고 가파르게 증가하는 모습을 보였습니다. 9월 18일 51.12%, 10월 2일 51.85%를 기록했으며, 분석 기간 마지막 날인 10월 20일에는 52.15%까지 상승했습니다. 이는 외국인 투자자들이 꾸준히 해당 종목을 순매수하여 지분율을 확대하고 있음을 명확히 보여줍니다.\n\n### 3. 투자 전략 관점의 해석\n\n*   **긍정적 모멘텀 유지:** 지난 3개월간 40% 이상의 강력한 가격 상승과 함께 건강한 거래량 흐름(상승 시 거래량 증가, 조정 시 거래량 감소) 및 지속적인 외국인 순매수(외국인 소진율 증가)가 나타나, 매우 긍정적인 투자 모멘텀을 형성하고 있습니다.\n*   **외국인 매수세의 중요성:** 외국인 소진율의 꾸준한 증가는 이 종목에 대한 외국인 투자자들의 중장기적인 긍정적 시각을 반영하는 것으로 해석할 수 있습니다. 이는 향후 주가 상승에 대한 견고한 지지력을 제공할 가능성이 높습니다.\n*   **단기 과열 우려:** 9월 초 이후 주가가 가파르게 상승한 만큼, 단기적인 기술적 과열 신호가 나타날 수 있습니다. 특히 10월 20일 거래량이 이전 급등 시점 대비 감소한 점은 단기적인 숨 고르기 또는 소폭 조정이 발생할 가능성도 있습니다.\n*   **지지선 형성:** 강력한 상승 추세 속에서 70,000원대 중반, 80,000원대 중반, 그리고 90,000원 초반에 걸쳐 새로운 지지선이 형성되었을 가능성이 높습니다. 이러한 지지선은 향후 주가 하락 시 방어 역할을 할 수 있습니다.\n\n**투자 전략 제안:**\n현재까지의 데이터만 놓고 보면 매우 강한 상승 추세에 있으며, 핵심 지표들이 이를 뒷받침하고 있어 긍정적인 관점을 유지하는 것이 합리적입니다.\n*   **보유 전략 유지:** 현재 주식을 보유하고 있다면, 강력한 추세가 꺾이기 전까지는 지속적으로 보유하는 전략을 고려할 수 있습니다.\n*   **조정 시 매수 기회 활용:** 단기적인 가격 조정이 발생할 경우, 이는 추가 매수 또는 신규 매수 기회가 될 수 있습니다. 특히 90,000원 초반 또는 8만 원대 후반 등 주요 지지선 근처에서 외국인 매수세가 재차 유입되는지 확인하며 분할 매수를 고려해 볼 수 있습니다.\n*   **리스크 관리:** 고점 부근에서 거래량 감소와 함께 음봉이 지속되거나, 외국인 소진율이 뚜렷하게 감소세로 전환된다면 추세 전환의 징후일 수 있으므로, 손절매 기준을 설정하여 리스크를 관리하는 것이 중요합니다.\n\n### 점수 산출 근거 (80점)\n\n*   **가격 추이 (매우 긍정적):** 3개월간 약 44.69%의 강력한 우상향 추세와 지속적인 고점 경신은 높은 점수를 부여할 근거가 됩니다. (40점)\n*   **거래량 (긍정적):** 가격 상승 시 거래량이 동반 상승하고 조정 시 거래량이 감소하는 건강한 패턴을 보여, 추세의 신뢰도를 높입니다. (20점)\n*   **외국인 소진율 (매우 긍정적):** 외국인 소진율이 지속적으로 뚜렷하게 상승하며 강력한 매수 주체가 존재함을 명확히 보여줍니다. 이는 중장기적인 주가 지지 및 상승 동력으로 작용할 수 있습니다. (25점)\n*   **단기 과열 및 변동성 (주의 필요):** 최근 가파른 상승으로 인한 단기적 과열 및 조정 가능성, 그리고 일부 거래량 감소가 관찰되어 잠재적 리스크로 작용합니다. (감점 5점)\n\n**종합:** 강력한 상승 추세, 신뢰성 있는 거래량, 그리고 무엇보다 외국인의 꾸준한 순매수세가 돋보여 전반적으로 매우 긍정적인 평가를 내릴 수 있습니다. 다만, 단기 급등에 따른 조정 가능성은 염두에 두어야 합니다.\n",
            "최근 3개월간의 종가, 거래량, 외국인소진율 데이터를 분석한 결과, 전반적으로 매우 강력한 상승 추세와 긍정적인 투자 심리가 확인됩니다. 특히 7월 말부터 10월 20일까지의 데이터를 기준으로 평가했습니다.\n\n**1. 가격 추이와 주요 변동:**\n*   **강력한 상승 추세:** 7월 말 (20250721) 종가 67,800원에서 10월 20일 종가 98,100원까지 약 44.7%에 달하는 폭발적인 상승을 기록했습니다. 이는 매우 긍정적인 가격 흐름을 나타냅니다.\n*   **단계적 상승 후 급등:** 7월 말~8월 초에 걸쳐 72,000원대까지 상승한 후, 8월 한 달간은 68,000원~72,000원 사이에서 비교적 완만한 횡보 또는 약보합세를 보였습니다. 하지만 9월 초 67,600원(20250901)을 저점으로 다시 강한 상승세를 시작하여 9월 말에는 86,100원(20250925)까지 상승했습니다. 이후 10월 들어서는 83,900원(20250930)에서 98,100원(20251020)으로 급격한 신고가 경신이 이어지는 등 매우 가파른 상승 모멘텀을 보여주었습니다.\n*   **견조한 조정:** 상승 중간중간 작은 폭의 조정을 보이기도 했지만, 이는 단기 차익 실현에 따른 자연스러운 현상으로 보이며, 지지선이 깨지지 않고 곧바로 재반등하여 상승 추세를 이어가는 견고함을 보여주었습니다.\n\n**2. 거래량과 외국인 소진율의 흐름:**\n*   **거래량 증가:** 주요 가격 상승 구간에서 거래량이 큰 폭으로 증가하는 패턴이 뚜렷하게 관찰됩니다. 특히 7월 말(20250728, 20250730), 9월 중순(20250912, 20250916, 20250922), 그리고 10월 초/중순(20251002, 20251010, 20251014, 20251016)에는 과거 평균 대비 월등히 높은 거래량을 동반한 상승이 나타나, 강한 매수세가 유입되고 있음을 시사합니다. 이는 가격 상승에 대한 신뢰도를 높이는 매우 긍정적인 신호입니다. 조정 국면에서는 거래량이 감소하는 경향을 보여, 매도 압력이 강하지 않음을 나타냅니다.\n*   **지속적인 외국인 매수:** 7월 21일 50.24%에서 시작하여 10월 20일 52.15%까지 외국인소진율이 꾸준히, 그리고 유의미하게 상승했습니다. 이는 외국인 투자자들이 해당 종목의 장기적인 가치나 성장성에 대해 긍정적으로 평가하고 지속적으로 매집하고 있음을 나타내며, 강력한 매수 주체로서의 역할을 하고 있음을 보여줍니다. 이러한 꾸준한 외국인 매수세는 주가 상승의 중요한 동력으로 작용하고 있습니다.\n\n**3. 투자 전략 관점의 해석:**\n*   **매우 강한 상승 모멘텀 확인:** 가격 추이, 거래량, 외국인소진율 모두 긍정적인 방향을 가리키고 있어, 현재 매우 강한 상승 모멘텀이 형성되어 있다고 판단됩니다. 이는 투자 매력도가 매우 높음을 의미합니다.\n*   **견고한 수급 기반:** 외국인 투자자들의 꾸준하고 지속적인 매수세는 주가 하방 경직성을 제공하며, 대량 거래를 동반한 상승은 시장의 관심과 유동성이 집중되고 있음을 의미합니다.\n*   **단기 과열 가능성 주시:** 10월 들어 가파른 상승세를 보인 만큼, 단기적으로는 기술적 조정이나 차익 실현 매물이 나올 가능성도 배제할 수 없습니다. 하지만 현재까지는 조정 시에도 견조한 매수세가 유입되며 지지되는 모습을 보였습니다.\n*   **긍정적 투자 전략:** 현재 데이터만으로 판단했을 때, 해당 종목은 높은 투자 매력도를 가지고 있으며, 상승 추세가 당분간 지속될 가능성이 높습니다. 신규 진입을 고려하는 투자자는 단기 조정 시점을 활용하거나 분할 매수 전략을 통해 접근하는 것이 유리할 수 있습니다. 기존 보유자는 추세가 꺾이기 전까지는 지속 보유하는 전략이 합리적입니다.\n\n**결론:** 최근 3개월간 이 종목은 가격, 거래량, 외국인 수급 측면에서 모두 매우 이상적인 강세 흐름을 보였습니다. 특히 외국인 소진율의 꾸준하고 지속적인 증가는 단순히 단기적인 호재가 아닌, 장기적인 관점에서의 긍정적 전망을 뒷받침하는 강력한 증거입니다. 단기 과열에 대한 경계는 필요하지만, 현재까지는 매우 견고한 상승 흐름을 이어가고 있어 매우 긍정적으로 평가됩니다.\n"
          ]
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54dd7366-22cb-4b9e-af84-2a38973d7c74",
  "meta": {
    "instanceId": "c2aa77f1830579c5c1385646447775b1d1190acdcf480b708eaf4915f004a8a7"
  },
  "id": "KDJvX1kCE4MZCitQ",
  "tags": []
}